.feature-bg {
  width: 100%;
  position: absolute;
  bottom: -3%;
  right: 0;
  left: 0;
  z-index: -999;
}

.cards-flex-container {
  position: relative;
  padding: 20px 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.side-container {
  width: 30%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
}

.feature-section-descrition {
  width: 80%;
  font-family: "Montserrat";
  color: #777777;
  font-size: 18px;
  font-weight: 100;
}

.open-acct-btn {
  margin-top: 70px;
}
