.blob-img {
  position: absolute;
  right: -200px;
  top: -340px;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.main-col {
  position: relative;
  overflow: hidden;
}

.blob-img-left {
  position: absolute;
  top: 100px;
  left: -150px;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}

.black {
  background: #222222;
  width: 236px;
  margin: 5px 60px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.small-container {
  width: fit-content;
  padding: 150px 90px;
  h1 {
    width: 70%;
    margin: 5px 60px;
  }
}

.image-container {
  position: relative;

  #video {
    width: 100%;
    margin-top: 80px;
  }

  #dots {
    position: absolute;
    bottom: -28px;
    right: -100px;
    z-index: -999;
  }
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
