<section class="main-col">
  <div class="blob-img">
    <img src="../../assets/img/circle.svg" alt="blob-1">

  </div>
  <div class="blob-img-left">
    <img src="../../assets/img/blob-small.svg" alt="blob-2">
  </div>

  <div class="flex-container">
    <div class="small-container">
      <h1 class="section-header">We make it Super Simple</h1>
      <div class="divider black"></div>
      <div class="image-container">
        <img id="video" src="../../assets/img/collect_img-video.png" alt="video">
        <img id="dots" src="../../assets/img/accounting_dots.svg" alt="dots">
      </div>
    </div>
    <div id="calc">
      <app-calculator></app-calculator>
    </div>
  </div>


</section>
