.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  margin-top: 180px;
  position: relative;

  h3 {
    font-family: "OpenSanSemi";
    font-weight: 600;
    text-align: center;
    padding: 10px;
    letter-spacing: 0.5px;
  }
}

form.main {
  background-color: #fff;
  color: var(--font-light-color);
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 20px 20px;
  -ms-border-radius: 0px 0px 20px 20px;
  -o-border-radius: 0px 0px 20px 20px;
}

.form-field {
  margin: 2px 0;
}

.box {
  border-radius: 20px;
  box-shadow: 0px 0px 30px #6a687c1f;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.flex-item-calc {
  width: 380px;
  height: 525px;
  background-color: #f7fbfd;
  z-index: 99;
}

.flex-item-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  height: 350px;
  width: 220px;
  background-color: var(--purple);
  border-radius: 0px 20px 20px 0px;
  -webkit-border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  -ms-border-radius: 0px 20px 20px 0px;
  -o-border-radius: 0px 20px 20px 0px;

  h3 {
    font-family: "Montserrat";
    font-weight: 100;
    font-size: 15px;
    color: #fff;
    padding: 0;
    margin-top: 10px;
  }
  p {
    font-family: "Montserrat-SemiBold";
    font-weight: 100;
    font-size: 20px;
    color: #fff;
  }
}

label {
  padding: 10px;
  font-family: "Montserrat-Medium";
  font-weight: 100;
  font-size: 12px;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid #999999;
  font-size: 16px;
  font-family: "Montserrat-Medium";
  line-height: 30px;
  width: 100%;
  &::placeholder {
    color: #999999;
  }
}

.input-container {
  padding: 10px;
}

select {
  border: none;
  width: 100%;
  border-bottom: 1px solid #999999;
  font-size: 16px;
  font-family: "Montserrat-Medium";
  padding: 5px;
}

//stye for toggle

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  height: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--purple);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--purple);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.shrink {
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}

.singleline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img.dots {
  position: absolute;
  bottom: -50px;
  right: -50px;
}
