.blob-img {
  position: absolute;
  right: 0;
  top: -45%;
  left: 40%;
  width: 1183px;
  height: 1192px;
  transform: scale(0.7) matrix(0.12, -0.99, 0.99, 0.12, 0, 0);
  -webkit-transform: scale(0.7) matrix(0.12, -0.99, 0.99, 0.12, 0, 0);
  -moz-transform: scale(0.7) matrix(0.12, -0.99, 0.99, 0.12, 0, 0);
  -ms-transform: scale(0.7) matrix(0.12, -0.99, 0.99, 0.12, 0, 0);
  -o-transform: scale(0.7) matrix(0.12, -0.99, 0.99, 0.12, 0, 0);
}

.blob-container {
  position: absolute;
}
